body {
    background-color: #121212;
}

#content-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 98%;
    height: 98%;
    margin: auto;
}

#board-container {
    display: flex;
    flex-wrap: wrap;
    width: 88vw;
    height: 88vw;
    max-height: 88vmin;
    max-width: 88vmin;
}

.space {
    width: 11vw;
    height: 11vw;
    max-height: 11vmin;
    max-width: 11vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space p {
    color: #121212;
    font-size: 5em;
}

.white-space {
    background-color: #f8f8ff;
}

.black-space {
    background-color: #8b8589;
}

.highlight-space {
    background-image: linear-gradient(45deg,
            #367588 25%,
            #0d98ba 25%,
            #0d98ba 50%,
            #367588 50%,
            #367588 75%,
            #0d98ba 75%,
            #0d98ba 100%);
    background-size: 100%;
    cursor: pointer;
}

#moves-sidebar {
    border: 1px solid #f8f8ff;
    width: 90px;
    margin-left: 4px;
}

#moves-sidebar h3 {
    color: #f8f8ff;
    text-align: center;
}

#moves-sidebar ol {
    color: #f8f8f8;
    text-align: left;
    padding-left: 20px;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background-color: #f8f8ff;
    border-radius: 2px;
    margin: 20vh auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
    width: 200px;
    text-align: center;
}

#button-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: column wrap;
    margin-left: 2px;
}

button {
    border: 4px none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    width: 110px;
    min-width: 100px;
    height: 30px;
    min-height: 30px;
    margin: 1px 2px;
}

.white-opening {
    background-color: #f8f8ff;
    color: #121212;
}

.black-opening {
    background-color: #121212;
    color: #f8f8ff;
    border: 1px solid #f8f8ff;
}

.close-modal {
    background-color: #121212;
    color: #f8f8ff;
}

#reset-button {
    background-color: #d40000;
    color: #f8f8ff;
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
    .space p {
        font-size: 2em;
    }

    #moves-sidebar {
        margin-top: 4px;
        margin-left: 2px;
    }

    #button-container {
        flex-flow: column wrap;
        margin-top: 2px;
        margin-right: 2px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 414px) {
    .space p {
        font-size: 2.5em;
    }

    #moves-sidebar {
        margin-top: 4px;
        margin-left: 2px;
    }

    #button-container {
        flex-flow: row wrap;
        max-width: 200px;
        margin-top: 2px;
        margin-right: 2px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 425px) {
    .space p {
        font-size: 2.5em;
    }

    #moves-sidebar {
        margin-top: 4px;
        margin-left: 2px;
    }

    #button-container {
        flex-flow: row wrap;
        margin-top: 2px;
        margin-right: 2px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #board-container {
        width: 72vw;
        height: 72vw;
        max-height: 72vmin;
        max-width: 72vmin;
    }

    .space {
        width: 9vw;
        height: 9vw;
        max-height: 9vmin;
        max-width: 9vmin;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .space p {
        font-size: 4em;
    }

    #button-container {
        margin-top: 2px;
        flex-flow: row wrap;
    }
}

@media only screen and (min-width: 1440px) {
    #board-container {
        height: 96vw;
        width: 96vw;
        max-height: 96vmin;
        max-width: 96vmin;
    }

    .space {
        width: 12vw;
        height: 12vw;
        max-height: 12vmin;
        max-width: 12vmin;
    }
}