body {
    background-color: #121212;
}

#content-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 95vw;
    min-width: 450px;
}

#board-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 400px;
    min-height: 400px;
    height: 60vmin;
    width: 60vmin;
}

.space {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space p {
    color: #121212;
    font-size: 48px;
}

.white-space {
    background-color: #f8f8ff;
}

.black-space {
    background-color: #8b8589;
}

.highlight-space {
    background-image: linear-gradient(45deg,
            #367588 25%,
            #0d98ba 25%,
            #0d98ba 50%,
            #367588 50%,
            #367588 75%,
            #0d98ba 75%,
            #0d98ba 100%);
    background-size: 100%;
    cursor: pointer;
}

#moves-sidebar {
    border: 3px groove #f8f8ff;
    width: 100px;
}

#moves-sidebar h3 {
    color: #f8f8ff;
    text-align: center;
}

#moves-sidebar ol {
    color: #f8f8f8;
    text-align: left;
    padding-left: 20px;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background-color: #f8f8ff;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
    width: 200px;
    text-align: center;
}

#button-container {
    min-width: 100px;
    max-width: 95vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}

button {
    border: 4px none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    width: 75px;
    min-width: 75px;
    height: 30px;
    min-height: 30px;
    margin: 5px;
}

.white-opening {
    background-color: #f8f8ff;
    color: #121212;
}

.black-opening {
    background-color: #121212;
    color: #f8f8ff;
    border: 1px solid #f8f8ff;
}

.close-modal {
    background-color: #121212;
    color: #f8f8ff;
}

#reset-button {
    background-color: #d40000;
    color: #f8f8ff;
}